<mat-toolbar color='primary' class="toolbar">
  <button mat-icon-button (click) = "mainSideNav.toggle()">
   <mat-icon>menu</mat-icon>
 </button>
 <img
   width="40"
   alt="Taskie Logo"
   src="../faviconTaskie.png"
 />
 <span class="spacer"></span>
 <span>{{title}}</span>
 <span class="spacer"></span>
 <ul>
  <li
    *ngIf="!isLoggedIn"><a [routerLink]="['/profile/login']">Log In</a></li>
  <li
    *ngIf="isLoggedIn"><a (click)="logOut()">Log Out</a></li>
</ul>
 <mat-form-field appearance="fill">
   <mat-select [(value)]="taskieFilterSelected">
     <mat-option value="merged">Merged
     </mat-option>
     <mat-option *ngFor="let item of groups" value="item.groupType"> {{item.groupName}}
       <button mat-raised-button color="accent">+</button>
     </mat-option>
   </mat-select>
 </mat-form-field>
 <button mat-icon-button>
  <mat-icon>menu</mat-icon>
</button>
</mat-toolbar>
<app-main-side-nav #mainSideNav></app-main-side-nav>
