<mat-toolbar color='primary' class="toolbar">
  <button mat-icon-button (click) = "mainSideNav.toggle()">
   <mat-icon>menu</mat-icon>
 </button>
 <img
   width="40"
   alt="Taskie Logo"
   src="../faviconTaskie.png"
 />
 <span class="spacer"></span>
 <span>{{title}}</span>
 <span class="spacer"></span>
 <span>
  <button mat-button [matMenuTriggerFor]="belowMenu">Views</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Collapse Dashboard</button>
    <button mat-menu-item>Schedule</button>
    <button mat-menu-item>Productivity</button>
    <button mat-menu-item>VsIndex</button>
  </mat-menu>
 </span>
 <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button (click)="logOut()">
    Log out
  </button>
</ng-container>

<ng-template #loggedOut>
  <button (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>
 <mat-form-field appearance="fill">
   <mat-select [(value)]="taskieFilterSelected">
     <mat-option value="merged">Merged
     </mat-option>
     <mat-option *ngFor="let item of groups" value="item.groupType"> {{item.groupName}}
       <button mat-raised-button color="accent">+</button>
     </mat-option>
   </mat-select>
 </mat-form-field>
 <button mat-icon-button (click) = "mainSideNav.toggleGroupNav()">
  <mat-icon>menu</mat-icon>
</button>
</mat-toolbar>
<app-main-side-nav #mainSideNav></app-main-side-nav>
